@import "common.css";
@import "variables.css";
@import "utility.css";
@import "fonts.css";
.header {
    padding: 16px 26px 0 26px;
    font-family: Gilroy-Medium, sans-serif;
}

.header-title span {
    font-family: Gilroy-Bold, sans-serif;
    font-weight: 500;
    font-size: 37px;
    line-height: 45px;
}

.header-text {
    font-family: Gilroy-Medium, sans-serif;
    padding-top: 23px;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-black);
}

.ham {
    position: absolute;
    z-index: 1000;
    top: 16px;
    right: 26px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
    background-size: 100%;
    outline: none;
}

.show__close {
    
    background-image: url(../images/close.svg);
    position: fixed;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    color: #828282;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

.show__nav {
    transform: translateY(0);
}

.navbar__list {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.menu__link{
    color: #828282;
    padding-bottom: 5px;
    border-bottom: 2px solid #828282;
    text-decoration: none;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 34px;
}

.menu__link:hover, .menu__link:focus {
    color: #000;
    border-bottom: 2px solid #828282;
}

.image {
    padding: 29px 29px 60px 29px;
}

.image__item {
    width: 100%;
}

.about-me {
    padding: 25px 30px 45px 30px;
    background: #F6F6F6;
}

.about-me-title {
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    color: var(--primary-black);
    padding-bottom: 29px;
}

.about-me-text {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-black);
    padding-bottom: 25px;
}

.skills {
    padding-top: 35px;
}

.skills-title {
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    color: var(--primary-black);
    padding-bottom: 29px;
}

.skills-text {
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 75px;
}

.skills-content-text {
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    padding-top: 24px;
    padding-bottom: 30px;
    color: #828282;
}

.skills-content-stars {
    padding-bottom: 60px;
}

.skills-content-stars p {
    font-size: 30px;
}

.portfolio {
    background-color: #F6F6F6;
    padding: 80px 30px;
}

.portfolio-title {
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    color: var(--primary-black);
    padding-bottom: 29px;
}

.contacts {
    padding: 25px 30px;
    background: #fff;
}

.contacts-title {
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
}

.contacts-text {
    padding-top: 27px;
    font-weight: 600;
    font-family: 'Nerko One', cursive;
    font-size: 18px;
    line-height: 22px;
}

.contacts-btn {
    margin-top: 40px;
    padding: 14px 32px;
    border-radius: 50px;
    border: none;
    outline-style: none;
    background: 
    color: #fff;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.contacts-btn a {
    color: #fff;
    text-decoration: none;
}

.social {
    margin: 48px 0 auto;
    width: 100%;
}

@media (min-width: 992px) {
    .skills {
        display: grid;  
}