.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-flex-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.to-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.no-outline {
    outline: none;
}

.point-cursor {
    cursor: pointer;
}

