:root {
    --primary-white: #FFFFFF;
    --primary-black: #000000;
    --primary-gray:  #f6f6f6;
    --primary-darkGray: #828282;
    --primary-darkWhite: #f6f6f6;
    --primary-dodgerBlue:#1e90ff;
}
